<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microblink">

    <application
        android:name=".SampleApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".ScanActivity"
            android:theme="@style/MbBlinkIdUiTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MbBlinkIdUiTheme" />
    </application>
</manifest>
